<h1 nz-typography>Types of Networks</h1>

<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/ThPkjmJ7hb8?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>
<p nz-typography>
  Networks, which consist of various combinations of computers, storage devices, and communications devices, may be
  divided, based on their geographic range.
</p>

<h4 nz-typography>Personal Area Network (PAN)</h4>
<p nz-typography>
  <mark>PAN is the smallest type of network. This type of computer network, connects a computer to a number of devices
    like
    printers, scanners etc.</mark>
</p>
<div class="box">
  <img src="assets/img/personal-area-network.png" alt="personal-area-network.png">
</div>
<p nz-typography>
  A personal area network (PAN) is the interconnection of devices within the range of an individual person, typically
  within a range of 10 meters. Typically, these systems are wireless and involve the transmission of data between
  devices such as smartphones, personal computers, tablet computers, etc.
</p>

<h4 nz-typography>Local Area Network (LAN) </h4>
<p nz-typography>
  <mark>A Local Area Network (LAN) connects computers and devices in a limited geographic area, such as one office, one
    building, or a group of buildings close together.</mark>
</p>
<div class="box">
  <img src="assets/img/local-area-network.jpg" alt="local-area-network.png">
</div>

<p nz-typography>
  A LAN can be small or large, ranging from a home network with one user to an enterprise network with thousands of
  users and devices in an office or school. Regardless of size, a LAN's single defining characteristic is that it
  connects devices that are in a single, limited area
</p>
<p nz-typography>
  Computer networks have at least one host computer (server) and nodes (clients). A host computer is a main frame or
  midsize central computer that controls the network. The other devices within the network are called nodes. A node is
  any device that is attached to a network, a storage device or a printer.
</p>

<h4 nz-typography>Types of LANs</h4>
<p nz-typography>There are two principal types of local area networks. </p>
<article nz-typography>
  <ul>
    <li> <strong>Client/Server LANs</strong> : <mark>Client/Server LAN consists of <b>clients</b>, which are microcomputers that
      requests data, and
      <b>server</b>, which are computers to supply required information.</mark> The server is a powerful microcomputer that manages
      shared devices. Different types of servers may be used to manage different tasks.
    </li>
    <li> <strong>Peer-to-peer LANs</strong> : <mark>A peer-to-peer LAN includes all microcomputers on the network that
      communicates directly with one another without relying on a server.</mark> Every computer can share files and peripherals
      with all other computers on the network, given that all are granted
      access privileges. Peer-to-peer networks are less expensive than client/server networks and effectively in small
      networks.
    </li>
  </ul>
</article>

<h4 nz-typography>Campus Area Network (CAN)</h4>
<p nz-typography>
  A Campus Area Network (CAN) is a network of multiple interconnected Local Area Networks (LAN) in a limited
  geographical area. This type of computer network connects computers in a number of buildings. A campus Area Network
  (CAN) is ideal for a university but they are also found in industrial facilities (where it is known as Corporate Area
  Network). A CAN is smaller than a wide area network (WAN), but larger than Local area network (LAN).
</p>
<div class="box">
  <img src="assets/img/campus-area-network.jpg" alt="campus-area-network.jpg">
</div>
<h4 nz-typography>Metropolitan Area Network (MAN)</h4>
<p nz-typography>
  A metropolitan area network (MAN) is a communication network covering a city or a suburb. Its geographic scope falls
  between a WAN and LAN. MANs provide Internet connectivity for LANs in a metropolitan region, and connect them to wider
  area networks like the Internet.
</p>
<div class="box">
  <img src="assets/img/metropolitan-area-network.png" alt="metropolitan-area-network.png">
</div>
<h4 nz-typography>Wide Area Network (WAN)
</h4>
<p nz-typography>
  A wide area network (WAN) is a communications network that covers a wide geographic area, such as a country or the
  world. A WAN may use a combination of satellites, fibre-optic cable etc. and link a variety of computers, from
  mainframes to terminals. WANs are used to connect LANs/MANs together. The best example of WAN is the internet.

  Networks may be connected together- LANs to MANs and MANs to WANs. 'Backbones' are high-speed networks that connect
  LANs and MANs to the internet.
</p>
<div class="box">
  <img src="assets/img/wide-area-network.jpg" alt="wide-area-network.jpg">
</div>
<h4 nz-typography>
  Benefits of networks</h4>
<p nz-typography>
  The most important reason for using a network is for communication and sharing of resources.
</p>
<article nz-typography>
  <ol>
    <li> Sharing of Peripheral devices: Using peripheral devices such as laser printers, disk drives, and scanners for
      each computers can be expensive.
      Networking helps to connect the peripherals to a network, serving several computer users, maximising their use.
    </li>
    <li>Sharing of Programs and Data: Networking helps to reduce the cost of software when people use the same
      application in a shared network. Also, if all employees have access to a database shared on a network, the
      organisation can save time and money. </li>
    <li>Better Communications: Networking helps better means of communication between people and computers at work.
      Client/server communication channels, e-mails, etc., helps in better communication.

      Network linked employees can work together more easily online on shared projects.</li>
    <li>Security of Information: Since the databases and other valid information repositories are spread across
      different computers, high network data security can be ensured. Loss of data due to any natural calamity or
      disintegrity of any particular employee can be avoided.</li>
    <li>Access to External databases: Network enable user to access numerous databases, whether private company
      databases or public databases available online through internet or extranet or virtual private networks.</li>
  </ol>
</article>
