<h1 nz-typography>Business Applications of Internet</h1>
<p nz-typography>
  The Internet has transformed many areas of the business
  arena. It has become difficult to imagine how business can
  be conducted without the Internet. By drastically reducing
  the time required to transmit information over both long and
  short distances, the Internet has made itself indispensable
  for business. Some of the ways Internet has transformed the
  way business is done is given below
</p>
<ol>
  <li>Buying and Selling of Goods & Services
    <p nz-typography>
      One of the basic uses of the Internet for businesses is to sell
      products and services. Businesses create E-commerce
      websites to sell anything from cell phones to books. Online
      selling eliminates the need for the business to maintain a
      brick-and-mortar store and E-Commerce websites do not have
      to stock a particular item. A business can also, use the Internet
      to buy items and services online, such as buying office
      supplies, raw materials etc.
    </p>
  </li>
  <li>Marketing and Advertising
    <p nz-typography>
      The Internet has become an essential marketing and
      advertising tool for businesses. Advertising in Internet and
      Social media is one of the main advertisement channel for
      businesses now. Offering text and banner ads on websites as
      well as informational pieces, the Internet allows advertisers
      to reach potential customers quickly and efficiently. Pay-per
      click advertisements are distributed on Internet search engines and websites, allowing business
      potential customers using search terms
      business. Businesses use Internet advertising
      to newspaper and TV advertisements
      targeting younger potential customers.
    </p>
  </li>
  <li>Image Building
    <p nz-typography>
      All business enterprise recognize the importance of
      establishing an online presence through a websites In
      addition to their websites, some businesses have attempted to
      engage themselves in the social networking phenomenon. By
      establishing profiles on platforms such as Facebook and
      LinkedIn, businesses attempt to enhance their image with
      potential customers or clients as well as the general public
    </p>
  </li>
  <li>Communication and Interaction
    <p nz-typography>
      Today business communication takes place through email,
      Companies use email to communicate with the public and to
      transmit messages within the company. In addition, real-time
      communication such as instant messaging (IM), Skype and
      even virtual meetings and conferences have become
      increasingly important in the day-to-day workings of business.
    </p>
  </li>

  <li>Identity theft, hacking, viruses, and cheating
    <p nz-typography>
      The Internet makes it easier for hackers to scan millions
      of computers and quickly identify which computers are
      vulnerable to attack. A series of cyber-crimes like
      unauthorized access & Hacking, Trojan Attack, Virus and
      Worm attack, Email Spoofing, Intellectual Property Right
      Violations, Banking/ Credit card Related crimes, Phishing,
      Cyber Terrorism etc. are the result of internet revolution.
      The Internet also makes it much easier for students to
      plagiarise On their academic work.
    </p>
  </li>
  <li>Remote Services
    <p nz-typography>
      Companies employ workers, contractors and consultants
      as telecommuters, Telecommuters can be located locally or
      very far away from the company. Companies with an inter-
      national presence use the Internet to facilitate communications between their offices in varied location worldwide
    </p>
  </li>
  <li>Understand Customer Interest
    <p nz-typography>
      Business use the Internet to monitor trends and interest$ of customers. To discover what everyday people think
      about particular product or service, business owners can visit online
      social networking sites and message boards. Taking this feedback helps business owners make their products better.
    </p>
  </li>
  <li>Recruit new employees
    <p nz-typography>
      Many companies, provide current information about job
      openings and attract talented people from places they could
      not reach otherwise. This way the ensure that the brightest
      talents are employed.
    </p>
  </li>
  <li>Collaboration
    <p nz-typography>
      Collaboration and workgroup computing are biggest
      benefits of the Internet. Internet seminars, also called
      webinars, make collaborating on projects with people all over
      the world easy.
    </p>
  </li>
  <li>Research
    <p nz-typography>
      Businesses use the Internet to research new product
      ideas, new methods of creating products and pricing
      information. A business can also research the competition to
      see what products and services are offered by the competitors.
      If a company is looking to expand into a particular location,
      the Internet can be used to research the population, its needs
      and what products and services would sell best in that area.
    </p>
  </li>
</ol>
