<h1 nz-typography>Introduction</h1>

<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/VH0SSzDorbI?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>

<p nz-typography>
  <mark> HTML stands for Hyper Text Markup Language. It is the language used for creating, formatting and linking web
    pages
    containing text, graphics and other useful information. HyperText refers to the way in which Web pages (HTML
    documents) are linked together. When we are clicking a link in a Web page, we are using Hypertext. Markup
    Language
    describes how the HTML works. With a markup language the text document is “marked up" with tags that tell a web
    browser how to structure it.</mark> HTML originally was developed with the intent of defining the structure of
  documents
  (headings, paragraphs, lists, and so forth) to facilitate the sharing of scientific information between researchers.
</p>

<h3 nz-typography>Static and Dynamic Websites</h3>

<p nz-typography>
  <mark>A static website remains the same unless modified manually whereas a dynamic website can produce different
    content for
    different visitors.A static website is one that is written in HTML only. Each page is a separate document
    and there
    is no dațabase that it draws on. This implies that the only way to edit the site is to go into each page and edit
    the
    HTML - so you'd either have to do it yourself using a web page editor or we can edit the site each time you wanted
    something changed.</mark>
</p>
<p nz-typography>
  <mark>A dynamic website is written using more complex code and can do a lot more. </mark>For instance, we can make an
  area
  where
  you can log in and chánge various parts of the website, such as adding information or products or changing existing
  products. <mark>E-Commerce websites, news websites are some examples of dynamic websites. This is because each
    page is
    constructed based on the information in a database, and the information in that database can be changed via another
    interface.</mark><u>Dynamic websites can reduce ongoing maintenance costs </u> if you don't want to change things
  yourself with a
  web page editor or with the HTML.<u> They usually cost more to develop, as they require more complex coding and a
    content
    management utility needs to be developed to help you manage your website information.</u> Another benefit of dynamic
  websites is that they allow you to change only the content of the website and not the design, so you will not be able
  to accidentally break the visual style of the website.<mark> Many businesses do a combination of dynamic and static
    websites, having some dynamic areas such as a product catalog where they have to change information or pictures
    regularly, and leave other pages such as contact information as static pages.</mark>
</p>
