<h1 nz-typography>Generations in communication</h1>

<p nz-typography>
  Communication has grown significantly over the past decades. The inceptions of the cellular telephone, wireless
  internet and other technologies have given people the ability to contact and communicate with others from virtually
  anywhere in
  the world and at any time. Companies increasingly turning to IP-based systems to replace traditional circuit-switched
  networks. Satellite based systems; WiMAX, 4G/5G communication technology etc., will change communication scenario.
</p>

<h4 nz-typography>First Generation (1G)</h4>
<p nz-typography>
  It refers to the first generation of wireless telecommunication technology, more popularly known as cell phones. 1G
  wireless networks used analog radio signals for
  communication. Communication was made by modulating a voice call and transmitting it between radio towers. </p>

<h4 nz-typography>Second Generation (2G) - Digital Wireless Services</h4>
<p nz-typography>
   support digital cell phones and personal digital assistants. It is based on GSM or 'Global
  System for Mobile communications' which use a network of cell towers to send voice communications and data over the
  airwaves in digital form. 2G technology not only dramatically increased voice clarity but also provides various
  services like text messages, picture message, MMS and voice mail.
</p>

<h4 nz-typography>Third Generation (3G) - Broadband Wireless Digital Services </h4>
<p nz-typography>
   3G refers to the collection of third generation mobile technologies that are
  designed to allow mobile operators to offer integrated data and voice services over mobile networks. It facilitates
  accepting emails with attachments, video conferencing and GPS, provide high speed web access, and are able to stream
  live videos and internet TV.
</p>

<h4 nz-typography>Fourth Generation (4G)</h4>
<p nz-typography>
  It is an extension of the 3G technology with more bandwidth and digital signal clarity. It also provides additional
  facilities like high speed mobile web access, IP telephony, gaming services, high-definition mobile TV, video
  conferencing, cloud computing etc.
</p>

<h4 nz-typography>Fifth-Generation (5G)</h4>
<p nz-typography>
  It is the latest cellular technology, engineered to greatly increase the speed and responsiveness of wireless networks.
  With 50, data transmitted over wireless broadband connections could travel at rates as high as Gbps. 5G will also
  enable an increase in the amount of data transmitted over wireless systems due to more bandwidth and advanced antenna
  technology.
</p>
