<h1 nz-typography>Data</h1>
 <nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/yltknLvSSA4?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template> 
<p nz-typography>
  Data is used in all forms of human, organizational activity. E.g., in business field (e.g., sales data, revenue,
  profits, stock price), governance (e.g., unemployment rates, literacy rates) etc.<mark> The word data was first used to mean
  "transmissible and storable computer information" in 1946. Data is the plural of Datum, which means a single fact.</mark>
  Data are raw facts, observations or numbers about entities that need to processed. Data is something simple and
  seemingly random and useless until it is organized. <mark>Data may be in different forms like text, graphics, images, video,
  sound, numbers etc.</mark>
</p>
<p nz-typography>
 <mark> Data can be defined as "a representation of facts, concepts or instructions in a formalized manner, which should be
  suitable for communication, interpretation or processing by human or electronic machine".</mark>
</p>
<p nz-typography>
  Data is in raw form are plain facts and is not usable as such. Processing of data is required to convert them into
  usable form.<mark> When data are processed, organized, structured or presented in a given context so as to make them useful,
  they are called Information.</mark>
</p>
<p nz-typography>
  Data collection involves the use of Information Technology (IT) comprising: computers and telecommunications networks
  (E-Mail, Voice Mail, Internet, telephone, etc.) Computers are important for more quantitative, than qualitative, data
  collection, storage and retrieval.
</p>

<h1 nz-typography>Sources of data</h1>
<p nz-typography>
  The data sources may be generally categorized as:
</p>
<article nz-typography>
  <ol type="i">
    <li><b>Internal</b></li>
    <li><b>External</b></li>
  </ol>
</article>
<p nz-typography>
 <mark> Internal data source includes records like file records, documents. reports etc. Internal data arises from the routine
  data processing activity in the organization and it summarizes the organizations operations.</mark>
</p>
<p nz-typography>
 <mark>The other source of data is the external environment. It may come from trade publications, government statistics,
  surveys etc.</mark>
</p>

<h1 nz-typography>Data life cycle</h1>

<p nz-typography>
 <mark> Data life cycle is a sequence of stages that a particular unit of data goes through, from its initial generation or
  capture to end of its useful life. </mark>It describes various stages in the successful management and preservation of data
  for use and reuse. .
</p>
<article nz-typography>
  The various stages in data cycle are
  <ol type="i">
    <li><b>Data generation or Capture:</b> Data enters the system, mainly through data entry, or from external sources
    </li>
    <li><b>Data Integration:</b> Data from different sources are combined to form one homogenous set of data that can be
      readily analyzed.</li>
    <li><b>Data Analysis: </b>Data used to support organizations objectives and operations</li>
    <li><b>Data Reporting:</b> Present the analyzed data in the form of a report for meaningful presentation.</li>
    <li><b>Data Archiving:</b> Data is removed from all active usage environments. It is no longer processed, used or
      published but is stored, for future retrieval.</li>
    <li><b>Data Purging:</b> Every copy of data already archived will be deleted, to prevent misuse and overloading.
    </li>
  </ol>
</article>

