<h1 nz-typography>Basic Steps for Performing any Statistical Procedure</h1>
<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/ticvbOE36WA?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>

<h3>Creating/Opening a file</h3>

<ol type="1">
  <li>
    <p>
      A new data file in SPSS can be created as follows,
      <b>File > New > Data.</b>
    </p>
  </li>
  <li>
    <p>
      If the user wants to open an already existing file
      <b>File > Open > Data</b> and select the required file.
    </p>
  </li>
  <li>
    <div>
      If the data is in excel, it can opened in the following way,
      <b>File > Open > Data</b>
      <div>
        In the Open Data Window, in the Files of type: dropdown list select Excel and click Open.
        <img src="assets/img/spss/6.jpg" alt="Image" title="Image" class="img-block" />
      </div>
    </div>
  </li>
  <li>
    <p>
      If the data was opened in SPSS previously in your system it could be quickly opened by
      <b>File > Recently Used Data</b>
    </p>
  </li>
</ol>

<h3>Creating/Opening a file</h3>
<div>
  The active DataSet can be saved in SPSS by File > Save. The DataSet can be saved in different formats. By default SPSS
  files are saved with .sav extension.
  <img src="assets/img/spss/7.jpg" alt="Image" title="Image" class="img-block" />
  Output generated in SPSS can also be saved. By default SPSS saves output with .spv extension.
  <img src="assets/img/spss/8.jpg" alt="Image" title="Image" class="img-block" />
</div>

<h3>Closing a file and Exiting SPSS</h3>
<p nz-typography>
  Exiting SPSS, is similar to any other software, by clicking the close button. As mentioned earlier, when data view and
  output view are open, there will be two pop-up windows asking for conformation to exit.
</p>
<p nz-typography>
  The first popup windows enquires whether the user wants to exit. The message displayed is Closing the last Data editor
  will exit SPSS Statistics. Do you want to proceed?. Click Yes to exit
  <img src="assets/img/spss/9.jpg" alt="Image" title="Image" class="img-block" />
  Second popup asking if the user wants to save the output file if any output has been generated.
  <img src="assets/img/spss/10.jpg" alt="Image" title="Image" class="img-block" />
  If the dataset has been modified by the user, a pop up window will be displayed enquiring if the changes to the
  dataset should be saved.
  <img src="assets/img/spss/11.jpg" alt="Image" title="Image" class="img-block" />
</p>
