<h1 nz-typography>Data Processing</h1>
<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/pHM4Da9WJyw?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>
<p nz-typography>
 <mark> Any manipulation of data such as arithmetic operations, classifying, sorting etc. is called data processing. Data
  processing is, "the collection and manipulation of items of data to produce meaningful information."</mark> The data
  processing involves various processes like validation, sorting, summarizing, aggregation, analysis and reporting.
</p>
<p nz-typography>
  The term data processing is typically used for the initial stage of data handling followed by a data analysis in the
  second stage of the overall data handling.
</p>
<h1 nz-typography>
  Data Processing: Methods & Types
</h1>

<p nz-typography>
  As mentioned above,<mark> Data processing refers to methods that take the raw data and convert it into usable information to
  effectively take decisions. In earlier days, data processing was done manually, and now it is done by computers.
  Following are some of the methods of Data Processing</mark>
</p>
<h2 nz-typography>Methods of Data Processing</h2>
<ol type="i">
  <li>
    <h3>Batch Processing:</h3>
    <p style="font-size: medium;"> <mark>Batch processing is the basic form of data processing. It is useful when the business
      enterprise has a large volume of data which require only basic processing.</mark> A branch of a retail shop for example,
      can batch-process all the transactions at the end of each day and send the results to the head office.</p>
  </li>
  <li>
    <h3>Real Time Processing</h3>
    <p style="font-size: medium;"><mark>Real time Processing is done exactly at the time, when the transaction (process) is
      done. There are certain cases when batch processing is not useful. E.g., when a customer withdraws money from an
      ATM, the processing of data has to be done real time. </mark>Where batch processing is done done for large volume of data
      at predefined timings, real-time processing is done for smaller volume of data and is done continuously.</p>
  </li>
  <li>
    <h3>Data Mining</h3>
    <p style="font-size: medium;"><mark>Data mining refers to the process of discovering or identifying patterns in large data
      from multiple sources. Generally, sources from multiple sources are combined, analyzed and checked for
      correlations.</mark> e.g, department store may analyze data on customers' purchases and discover, that customers who buy
      rice often buy bananas with it. The department store can use this information to increase sales, by placing
      bananas near to rice. They can also discover which product sells more and which less etc.</p>
  </li>
  <li>
    <h3>Statistical Processing</h3>
    <p style="font-size: medium;"><mark>Statistical processing involves advanced analysis of data.</mark> A company that has a major
      rush in their store on Saturday, might do a processing statistical tools and determine the effect of each
      variables. The results such processing can used to determining the cause of the rush.<mark> This is advanced and
      involves application of statistical methods to derive meaningful conclusions.</mark> </p>
  </li>
</ol>