<h3 nz-typography>Tables</h3>
<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/turq8fRJ0WQ?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>

<p nz-typography>
  A table is made up of rows which in turn are made up of
  cells. Like images, tables are also of immense use in HTML.
  We will see how tables can be created using HTML. There are
  few tags what we need to be familiar with.
  <code>&lt;tab1e&gt;</code> Used to tell the browser that “this is a table", along
  with some attributes like size, border width and a
  few other things.
</p>

<table>
  <tbody>
    <tr>
      <td><b>&lt;tab1e&gt;</b></td>
      <td>Used to tell the browser that “this is a table", along
        with some attributes like size, border width and a
        few other things.</td>
    </tr>
    <tr>
      <td><b>&lt;tr&gt;</b></td>
      <td>Table Row defines a horizontal row of (Table Data) cells.
    </tr>
    <tr>
      <td><b>&lt;td&gt;</b></td>
      <td>Specifies an individual block or cell in a table row.</td>
    </tr>
  </tbody>
</table>
<p nz-typography>
  We will prepare a cell and then build ta table around it.
  Type in your table tags. These simply mean "starting a table"
  and "ending a table". Or, more accurately, the tags enclose
  the table element.
  <img src="assets/img/web/web30.png" alt="Image" title="Image" class="img-block" />
  Now let’s try creating a row for our table.
  <img src="assets/img/web/web31.png" alt="Image" title="Image" class="img-block" />
  Check your output. The output will be blank since no data has been entered
  And of course, every row has to have at least <b>one table data cell</b>
  <img src="assets/img/web/web32.png" alt="Image" title="Image" class="img-block" />

  To make things easy hereafter we will be having only one the important tags. This does not mean that you can leave the
  head, body, title tags etc.
  KEEP THOSE IN YOUR PAGE.
</p>

<p nz-typography>
  <img src="assets/img/web/web33.png" alt="Image" title="Image" class="img-block" />
  Now you need some data to enter in that cell. Type in CMS <code>&lt;td&gt;</code> cell
  <img src="assets/img/web/web34.png" alt="Image" title="Image" class="img-block" />
  <img src="assets/img/web/web35.png" alt="Image" title="Image" class="img-block" />
  This will not look like a table since there are no borders. Let
  us give borders now.
</p>

<p nz-typography>
  <img src="assets/img/web/web36.png" alt="Image" title="Image" class="img-block" />
  <img src="assets/img/web/web37.png" alt="Image" title="Image" class="img-block" />
  Let us make a larger border.
  <img src="assets/img/web/web38.png" alt="Image" title="Image" class="img-block" />
</p>

<p nz-typography>
  <img src="assets/img/web/web39.png" alt="Image" title="Image" class="img-block" />
  Let us go back to a regular border and continue.
  <img src="assets/img/web/web40.png" alt="Image" title="Image" class="img-block" />
  When no sizes are specified the table is only as big as it needs to be.
  <img src="assets/img/web/web41.png" alt="Image" title="Image" class="img-block" />
</p>

<p nz-typography>
  Let's enter the name of three colleges in Kottayam district in separate cells.
  <img src="assets/img/web/web42.png" alt="Image" title="Image" class="img-block" />
  Let's get rid of cell padding (specifying the space between cell border and content) and cell spacing(specifying the
  space to be left between table cells) and go back to our simple little table, and add another row with three cells.
  <img src="assets/img/web/web43.png" alt="Image" title="Image" class="img-block" />
</p>

<p nz-typography>
  Let's enter the name of three colleges in Kottayam district in separate cells.
  <img src="assets/img/web/web44.png" alt="Image" title="Image" class="img-block" />
  We can add background colours to the table to make it look
  more attractive. You use bgcolor just like you would in the
  <b>&lt;body&gt;</b> tag.Let us now add colours for each row.
  Similarly we can add colors to each cell too.
  <img src="assets/img/web/web45.png" alt="Image" title="Image" class="img-block" />
  Let's enter the name of three colleges in Kottayam district in separate cells.
  <img src="assets/img/web/web46.png" alt="Image" title="Image" class="img-block" />
  Add as many rows and columns and specify colours etc to make your table attractive.
</p>
