<h1 nz-typography>Introduction</h1>
<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/oMn6MS6JeUs?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>
<p nz-typography>
  <mark>
    A computer network refers to the system of linking two or more computing devices together for the purpose of
    sharing data. Networks are built with a mix of computer hardware and computer software.</mark> This interconnected
  system
  will share services and interact through a communication link. There are several types of computer networks. A
  computer network
  can be very simple, such as connecting only two computers or a computer and a printer, or it can be very complex,
  connecting millions of computers and devices.
</p>
<div class="box">
  <img src="assets/img/local-area-network.jpg" alt="local-area-network.jpg">
</div>
