<h1 nz-typography>Electronic Data Processing</h1>
<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/22_gpONSUX0?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>
<p nz-typography>
  <mark>It is simply, the processing of data using electronic devices. Electronic data processing (EDP) is concerned with
  abstracting meaningful information from large volumes of data.</mark> Electronic Data Processing can refer to the use of
  automated methods to process commercial data Typically, this uses relatively simple, repetitive activities to process
  large volumes of similar information.<mark> Business data processing is a major application of EDP. </mark>In business data
  processing huge quantity of data forms input and the processing results in collapsing the data into small quantity of
  meaningful information to the users.
</p>

<p nz-typography>
 <mark> Steps in Electronic Data Processing Data processing refers to the process of converting data from one format to
  another. It transforms plain data into valuable information.</mark> The basic steps in data processing are;
</p>

<ol type="1">
  <li>
    <h3>Identifying the Data:</h3>
    <p> After the information needs are determined, the data for
      generating that information needs to be identified. The first step in dat processing, is to locate data sources
      for the information</p>
  </li>
  <li>
    <h3> Designing forms:</h3>
    <p> Forms for entering data are designed and linked with databases to
      enter data into the system. </p>
  </li>
  <li>
    <h3> Data entry:</h3>
    <p> The data inputs are keyed into databases through forms. </p>
  </li>
  <li>
    <h3> Data Validation:</h3>
    <p> Data validation rules and procedures should be built into the
      database to avoid data redundancy and errors </p>
  </li>
  <li>
    <h3> Data Storage:</h3>
    <p> It is the process of organizing and storing the data in central database
      by ensuring security to facilitate easy storage and retrieval of data. </p>
  </li>
  <li>
    <h3> Data processing:</h3>
    <p> Data is to be processed to get relevant information. It is performed
      to generate information depend on the nature of data and the information required </p>
  </li>
  <li>
    <h3>  Report generation and Communication:</h3>
    <p> <mark>MIS applications should be developed to generate
      reports</mark> for meeting the information requirements of managers at different levels. <mark>The information generated after
      data processing should be meaningfully presented to the users. The reports may be presented in the form of charts,
      graphs, presentations etc depending on the format required by the users.</mark> </p>
  </li>
</ol>
<div class="box">
    <img src="assets/img/spss/001.jpg" alt="Image" title="Image" class="img-block" />
</div>