<h1 nz-typography>Types of measurement scales</h1>
<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/9mK4nNqisps?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>
<p nz-typography>
  Types of measurement of data or levels of measurement of data, is a classification that states the nature of
  information of the values assigned to the variables. Measurement scales are very important because the levels at which
  the variables are measured, determine the statistical test used to analyze the data. It was psychologist Stanley Smith
  Stevens who developed the classification of data into four levels or scales of measurement viz. Nominal, Ordinal,
  Interval and Ratio. Each of the value has a different meaning and interpretation as the levels of measure change. For
  example, the meaning of the value 1 when it is nominal will not be the same when it is ordinal or interval/ratio. The
  different levels of measurement are explained below.
</p>
<h3 nz-typography>Launching SPSS </h3>
<ol type="1">
  <li>
    <h3>Nominal Scale: </h3>
    <p nz-typography>
      Nominal scale is the lowest level of measurement. As the name suggests, it is a method of codifying names or
      categories. A variable can be treated as nominal when it's values represent categories with no specific importance
      or ranking. It is a simple method of categorizing the variable into discreet categories which has no importance to
      the order in which they are listed.
    </p>
    <p nz-typography>
      For example the students of a particular college can be classified based on the 12th standard exam board viz. HSC,
      ISC, & CBSE. There is no significance to the order. It can be ISC, CBSE & HSC or any mentioned order.
    </p>
    <p nz-typography>
      E.g. Fruits: Apples /Oranges/ Mangoes <br />
      Marital status: Married/ Widow/ Divorced / Single <br />
      Occupation: Professional/ Salaried/ Business / others <br />
      Area of residence: Urban / Semi urban / Rural <br />
      Religion: Hindu / Christian / Muslim / others <br />
      Type of banks: Public/ Private/ Foreign <br />
    </p>
    <p nz-typography>
      Gender is a very common example for nominal data. Male is not more
      important than female and vice versa. The user may codify Male=1 and Female=2. As order does, not matter Female=1
      and Male=2 is also appropriate.
    </p>
  </li>
  <li>
    <h3>Ordinal scale: </h3>
    <p nz-typography>
      A variable can be considered as ordinal, when its values represent categories with some meaningful ranking. As the
      name mentions in Ordinal data, order is important. For example, people may be asked to rank four cricket teams
      according to their skills. Thus the most skillful team is given rank of 1 and the next skillful team is given rank
      2, etc. In ordinal variables the order is very important, Rank 1 is considered as greater than Rank 2. But ordinal
      variables does not measure, how better the first ranked team is than the second. In short, the order of variables
      is very important but the intervals between the ranks are not meaningful.
    </p>
    <p nz-typography>
      E.g. Socio economic status: Low / Medium / High <br />
      Education: Illiterate / Primary / Secondary / Higher Secondary/ Graduate PG <br />
      Satisfaction: Highly Satisfied/ Satisfied/ Neutral/ Dissatisfied/ Highly Dissatisfied
    </p>
  </li>
  <li>
    <h3>Interval Scale: </h3>
    <p nz-typography>
      A variable is termed as interval scale when it possesses all the .characteristics of both nominal and ordinal data
      and it follows the property of equality of interval.
    </p>
    <p nz-typography>
      As mentioned above, in ordinal scale, the difference between cricket teams ranked 1 and 2 does not necessarily be
      equal to the difference between teams ranked 3 and 4. On an interval scale, the differences of the same numerical
      size in scale are equal. For example, Intelligence Quotient is an interval scale, as the difference in IQ scores
      of 100 and 110 is the same as difference between 110 and 120. But if you compare between a person with IQ 120 and
      another person with IQ 60, it will not be correct to say that the first person is twice as intelligent as the
      second person. This is so because IQ does not have a true zero point
    </p>
    <p nz-typography>
      In this type, the data has an arbitrary zero (not absolute zero). For example, when temperature in Celsius is
      zero, does not means there is no temperature.
    </p>
    <p nz-typography>
      Thus interval scale is defined as a quantitative measurement scale
      where difference between two variables on a scale is equal.
    </p>
  </li>
  <li>
    <h3>Ratio scale: </h3>
    <p nz-typography>
      Ratio scale is the type of measure which is quantitative, allows comparison of intervals or differences, and has a
      true zero (or absolute zero) as the starting point. True zero (or absolute zero) implies the absence of the
      variable being measured. e.g., if Salary is zero, this implies that there is no salary. Ratio scale is the highest
      form of measurement of data. All types of statistical tests can be applied on data in ratio scale.
    </p>
    <p nz-typography>
      Levels of Measurement as classified by SPSS is given below.
    </p>
    <p nz-typography>
      In this type, the data has an arbitrary zero (not absolute zero). For example, when temperature in Celsius is
      zero, does not means there is no temperature.
    </p>
    <p nz-typography>
      Thus interval scale is defined as a quantitative measurement scale
      where difference between two variables on a scale is equal.
    </p>
  </li>
</ol>
<p nz-typography>
  Levels of Measurement as classified by SPSS is given below.
  SPSS classifies data as Ordinal, Nominal and Scale. Interval and Ratio is included in Scale. The drop down menu from
  Measure in Variable View is giver in the following figure
  <img src="assets/img/spss/13.jpg" alt="Image" title="Image" class="img-block" />
</p>
