<h1 nz-typography>Introduction to SPSS</h1>
<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/KkZXNJLtiro?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>
<p nz-typography>
  SPSS provides an environment for statistical analysis in a graphic user interface. SPSS interface is very similar to
  the Excel or any spreadsheet program. SPSS uses menus and dialogue boxes to perform each tasks. Most of the tasks
  could be done by mouse clicks.
</p>

<h3 nz-typography>Launching SPSS </h3>

<p nz-typography>
  SPSS could be launched by clicking on Programs > IBM SPSS.
</p>
<p nz-typography>
  After launching SPSS, by default the Startup Windows will be as follows in Fig. 1. Menu bar, Tool bar, Data View and
  Variable View are the important components of the SPSS interface. <i> The Startup dialogue box, gives the user the
    various
    options available in SPSS.</i>
  <img src="assets/img/spss/1.jpg" alt="Image" title="Image" class="img-block" />
</p>
<h3 nz-typography>Menubar and Toolbar</h3>
<p nz-typography>
  In the above picture, the position of Menu bar, Tool bar, Startup Dialogue Box, Data View and Variable view are
  labelled.
</p>
<p nz-typography>
  Press Escape key to clear the Startup Dialogue Box.
</p>
<h3 nz-typography>Menubar</h3>
<p nz-typography>
  The menu bar is the top most bar in the SPSS interface. This is similar to menu bar of other software. Menu bar has
  access to all the tools that the software offers. There are differences in options between different versions of SPSS.
  The most common and the relevant options are explained below.
</p>
<ol type="1">
  <li>
    <h3>File: </h3>
    <p>
      This is the first option in the menu. Like all other software this menu allows the user to Open existing files
      (already created files), create new ones, and
      Print or Save any output that was generated. Instead of using the File > Open menu, the user can use the File >
      Recently used Data and Recently Used File as quick access.
    </p>
  </li>
  <li>
    <h3>Edit menu: </h3>
    <p>
      Edit menu is similar as in word processors. Options like Undo and Redo helps to rectify any changes that have been
      made. Cut, Copy, Paste allow to move text and data to any other cell. Find... and Go to Case... allows the user to
      locate a particular data or case which is useful when the size of the data is very large.
    </p>
  </li>
  <li>
    <h3>View: </h3>
    <p>
      The View menu deals with the visual aspects of SPSS. View menu has the settings for which Toolbars are to be
      displayed, which Fonts are used, whether to display Grid Lines, or whether to show Value Labels for the variables.
      The last option on this menu is Variables, which is an alternative way of accessing Variable View.
    </p>
  </li>
  <li>
    <h3>Data: </h3>
    <p>
      This menu allows the user to organize the data file. For example, during data entry, particular case may be
      entered twice by mistake. This can be identified using Identify Duplicate Cases. Data can be sorted using Sort
      Cases in the dataset (e.g. by numerical or date order) or Sort Variables. Transpose options allows to change rows
      into columns and columns into rows. Merge option helps the user to combine two or more different data sets. Split
      File to separate your data into groups for analysis. Copy Dataset can make an identical copy of your data.
    </p>
  </li>
  <li>
    <h3>Transform: </h3>
    <p>
      Transform menu allows the user to transform or manipulate the data. Some of the commonly used options in the
      Transform menu are explained below. The Recode options allow you to change the values of specific variables. E.g.,
      If in a study based on gender of respondents, data was entered as male =1 and female =2 and if the user wants to
      transform it as female=1 and male=2, Recode option is used. Compute option allows the user to create a new
      variable using the existing variables e.g. If the user wants to create a variable named Average calculated based
      on the marks of 5 tests, the Compute option is used.
    </p>
  </li>
  <li>
    <h3>Analyze : </h3>
    <p>
      This is one of the most important menu. This contains all the statistical options and tests. Statistical tests are
      categorized as Descriptive Statistics, Compare Means, General Linear Model, Correlate and Regression etc. Test
      like calculation of measures of central tendency, dispersion, correlation, regression etc. are found in this menu.
    </p>
  </li>
  <li>
    <h3>Graphs: </h3>
    <p>
      Graphs help to present data in visual form, which will help the user to understand the data better. Graphs menu
      allows the user to prepare graphs, charts etc. The Legacy Dialogs allow you to create basic, simple giaphs in an
      easy to use manner. Commonly used charts like bar, line, pie, boxplot, scatter diagram, histogram etc. are present
      in this menu.
    </p>
  </li>
</ol>

<h3 nz-typography>Toolbar</h3>

<p nz-typography>
  Tool bar is the option that is below the menu bar. This contains short cuts to the most commonly used option in SPSS.
  <img src="assets/img/spss/2.jpg" alt="Image" title="Image" class="img-block" />
</p>

<p nz-typography>
  The options from left to right is in the following order.
</p>
<ol type="1">
  <li>
    Open a file
  </li>
  <li>
    Save a file
  </li>
  <li>
    Print
  </li>
  <li>
    Recall the last used dialogue
  </li>
  <li>
    Undo an action 15. Weight cases
  </li>
  <li>
    Redo an action
  </li>
  <li>
    Go to a particular case
  </li>
  <li>
    Go to particular variable
  </li>
  <li>
    Variable list
  </li>
  <li>
    Running descriptive statistics
  </li>
  <li>
    Find
  </li>
  <li>
    Insert cases
  </li>
  <li>
    Insert variable
  </li>
  <li>
    Split file
  </li>
  <li>
    Weight cases
  </li>
  <li>
    Select cases
  </li>
  <li>
    Value Labels
  </li>
  <li>
    Use variable sets
  </li>
  <li>
    Show all variables
  </li>
  <li>
    Spell check
  </li>
</ol>
