<h1 nz-typography>Introduction</h1>
<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/iI4aUmoKdkU?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>
<p nz-typography>
  Data analysis is a significant step in research process. The collected data has to be analyzed for obtaining results
  and conclusions. Doing analysis manually is difficult and requires extensive statistical knowledge. SPSS is a
  programme which helps to overcome these difficulties.
</p>

<p nz-typography>
  SPSS is the short form for Statistical Package for the Social Sciences. It is a software package that helps in
  statistical analysis of data. As the name suggests, SPSS was intended for the research in Social Sciences but over the
  years its popularity has grown the world over. Now it is used by governments, health researchers, education
  researchers, survey companies, market researchers, data mining companies etc., for all types of statistical analysis
  of data, whether simple or complex.
</p>

<p nz-typography>
  SPSS is the short form for Statistical Package for the Social Sciences. It is a software package that helps in
  statistical analysis of data. As the name suggests, SPSS was intended for the research in Social Sciences but over the
  years its popularity has grown the world over. Now it is used by governments, health researchers, education
  researchers, survey companies, market researchers, data mining companies etc., for all types of statistical analysis
  of data, whether simple or complex.
</p>

<h1 nz-typography>History of SPSS</h1>

<p nz-typography>
  Statistical Package for the Social Sciences (SPSS) was developed by Norman H. Nie, Dale H. Bent, and C. Hadlai Hull at
  the University of Stanford in 1968. SPSS was acquired by IBM in 2009. After the acquisition, due to dispute in
  ownership of the title SPSS, it was name Predictive Analytics Software (PASW). Subsequently the name SPSS was
  re-introduced and currently the software is called IBM SPSS Statistics. The latest version is 26.
</p>

<h1 nz-typography>Functions of SPSS</h1>
<p nz-typography>
  SPSS performs large number of data analysis functions. Some of the important functions are given below;
</p>

<ol type="1">
  <li>
    <h3>Data Organization:</h3>
    <p> Data organization is defined as the method of classifying and organizing data sets to make them more useful. As
      the quality of the research output depends on the quality of data and how it is organized, data organization is
      very important. SPSS is a very good tool for organization of data. There are two types of data qualitative and
      quantitative. Both types of data can be entered into SPSS as a data file.</p>
  </li>
  <li>
    <h3>Data Transformation:</h3>
    <p>Data transformation refers to the modification of data by a mathematical function such as square root,
      logarithms, change of origin, change of scale etc. Data transformation is often used to change data to the
      appropriate form, as required to perform a particular statistical test. There are variety of functions that SPSS
      has inbuilt so that data transformation can be done. Thus, any data can be entered in the data file in SPSS and
      transformation can be done.</p>
  </li>
  <li>
    <h3>Data Output:</h3>
    <p>Once data is collected and entered into the data sheet in SPSS, an output file can be generated from the data.
      All output of statistical analysis is displayed in the output viewer. For example, if the data contains test marks
      of students, a frequency distributions of marks can be created. The frequency distribution will be displayed in an
      output file. This output can be exported to a text document such as word file. Therefore, instead of recreating a
      table or graph in Word, the output from SPSS could be exported and necessary description can be added in the Word
      file describing the details of the table or graph.</p>
  </li>
  <li>
    <h3>Statistical Tests:</h3>
    <p>The most important use for SPSS is to run statistical tests. When the data set becomes large, and statistical
      tests become complex, it is very difficult to do manually. SPSS has a large list of the most widely used
      statistical tests like measures of central tendency, dispersion, correlation, regression etc. After the
      statistical test is run, all associated outputs are displayed in the output file.</p>
  </li>
</ol>
