<h1 nz-typography>Application of Networks and Communication </h1>

<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/a3SXmePUK2Y?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>

<p nz-typography>
  The various practical application of network and communication connectivity is detailed below.
</p>

<h4 nz-typography>Workgroup Computing & Groupware </h4>
<p nz-typography>
  Telecommunication networks and computers enable us to collaborate to share resources, communicate ideas, and
  co-ordinate our efforts as members of formal and informal work groups that make up today’s organisations. <mark>A
    group of
    persons working together on a particular assignment and sharing information is called a <b>"workgroup"</b>.

    In <b>workgroup computing</b>, also called <b> collaborative computing</b>, teams of co-workers, often at different
    locations,
    uses networks or microcomputers to share information and to co-operate on projects. Workgroup computing is made
    possible by a software called <b>groupware</b>, which allows two or more people on a network to work on the same
    project at
    the same time.</mark> It allows several people to create documents. keep track of projects, route messages and
  manage
  deadlines. Groupware enables a supervisor to manage work flow via individual computers instead of physically moving
  from place to place or having face to face meetings.

  Different categories of groupware include Group scheduling, Electronic meeting support, Whiteboard, Video
  conferencing, Workflow automation etc. E.g.<b> Lotus Notes.</b>
</p>

<h4 nz-typography>Telecommuting & Virtual Offices</h4>
<p nz-typography>
  <mark>Telecommuting, e-commuting, e-work, telework, working from home (WFH), or working at home (WAH) is a work
    arrangement
    in which employees enjoy flexibility in working location and hours. This is made possible by telecommunication
    networks and advanced systems in collaboration with their workplace.</mark> In other words, the daily commute to a
  central
  place of work is replaced by telecommunication links.


  It is facilitated by such tools as groupware, virtual private networks, videoconferencing etc.It helps companies to
  save significant amounts of travel time and cost.

  <mark>The virtual office is a nonpermanent and mobile office run with computers and communications technology.
    Employees
    work from their homes, cars, and other new work sites. </mark>Virtual office exists more in virtual space than in
  physical
  space. It's only communication with the outer world may be
  through a post office box, a voice maU system, a web page, an e-mail address and social media. A virtual office blends
  home and work to gain efficiencies in both.
</p>