<h1 nz-typography> The World Wide web Consortium (W3C)</h1>
<p nz-typography>
  The World Wide Web Consortium (W3C) is an international
  organization established with the objective of improving the
  web through establishing protocols and guidelines. It was
  founded in 1994 by the creator of the W W W, Tim Berners-
  Lee. It comprises hundreds of organizations from related IT
  industries. W3C establishes standards for the World Wide
  Web (WWW) and also facilitates interoperability and
  cooperation among all web stakeholders. The members ofW3C
  are key participants in web development, involving
  commercial, educational and governmental entities.
</p>

<h3 nz-typography>Search Engines</h3>
<p nz-typography>
  A Web search engine is an interactive tool to help people
  to locate information available via the World Wide Web, Web
  search engines are actually databases that contain references
  to thousands of resources. The search engine provides an
  interface between the user and the underlying database, The
  interface presents the user with a field to type in a
  string, which may be a word, a phrase, a date, or some ot
  criteria, and a way to submit the request.
</p>

<p nz-typography>
  Common search engines are Google, Bing, Yahoo,
  Baidu, Wolfram Alpha etc.
</p>

<h3 nz-typography>Type of search engines </h3>
<ol>
  <li>Crawlers:
    <p nz-typography>
      Crawler search engines use a software called
      crawler or a spider to search the Internet. The crawler
      scans through each web page finds out keywords that
      best describe the webpage and then adds the pages to
      the search engine's database. Google and Yahoo are
      examples of crawler search engines.
    </p>
  </li>
  <li>Directories:
    <p nz-typography>
      Directories are search engines which are
      updated manually. A site owner will submit the details of
      the website to be included in the directory and must be
      manually approved for inclusion by editorial staff. E.g.,
      Open Directory Project, the Internet Public Library. This
      type of search engines are almost wiped out since the
      advent of crawler search engines.
    </p>
  </li>
  <li>Hybrids:
    <p nz-typography>
      Hybrids are a mix of crawlers and directories.
      Results of both directories and crawlers are displayed.
      Even though crawlers are fast and efficient, if a particular
      site is identified as spam, the owner should take a
      corrective action and resubmit the details of the site.
      Review of such sites are manually done.
    </p>
  </li>
  <li>Meta:
    <p nz-typography>
      Meta search engines uses several other search
      engines at the same time and combines the results as
      one list. More number of sites will be listed in the result
      but some of it might not be relevant. E.g., Dogpile and
      Yippy.
    </p>
  </li>
</ol>

<h3 nz-typography>Academic Search Techniques</h3>
<p nz-typography>
  Academic Search refers to the searching for books, articles,
  journals, patents etc. on the internet. Academic search is
  different from the usual online search. As academic search is
  done for preparing papers, journals etc, the
  the search results is vital. Google scholar, Google
  Google Patents etc. are very specific search interface that cater to the academic community.
</p>
<p nz-typography>
  The following techniques will be useful for academic search;
</p>

<ol>
  <li>Using quotes:
    <p nz-typography>
      Inserting the search between quotes, e.g. "financial
      management", returns the words in exactly the order
      that is specified. This technique reduces the sheer
      number of possible results.
    </p>
  </li>
  <li>Search with OR:
    <p nz-typography>
      In some instances Google scholar does not recognize
      abbreviations or synonyms. Using OR can result in a
      more refine result. E.g. Human Resource Management
      OR hrm.
    </p>
  </li>
  <li>Excluding specific terms with the — operator:
    <p nz-typography>
      Users can narrow down on the result by using the
      opepator (minus operator). If the user wants to know
      about financial management but does not need dividend
      theories, financial management — dividend theories will
      return results of financial management without dividend
      theories.
    </p>
  </li>
  <li>Searching for title words:
    <p nz-typography>
      Generally, Google Scholar will search for
      appearing anywhere in the article. If the user wants to
      search for articles which has the title financial
      management. E.g., allintitle: financial manage
    </p>
  </li>
  <li>Searching for PDF files:
    <p nz-typography>
      Most of the publications are as.pdf. In order to search
      for pdf files, E.g., Financial Management file type: pdf
    </p>
  </li>
</ol>
