<h1 nz-typography>Intranet</h1>

<p nz-typography>
  An intranet is a network that exists exclusively within an
  organization. Intranet is developed by using internet
  technology to deliver internal information over the local area
  network accessible only to employees or other invited users.
  It is used not only for transferring documents within an
  organization but also for linking software, databases and hardware into universal network. Intranet in
  firewalls and is not accessible to outsiders.
  File sharing between geographically
  groups of regional offices is one of the major uses of
  It is used in posting company policy and information, Job
  announcements and conducting internal surveys. Intranet
  is widely used by educational institutions and business
  irrespective of their size, for their internal communication
  purpose.
  The intranets are used within the organization for following
  purposes:
</p>

<ol style="list-style-type:lower-alpha">
  <li>Post personal web pages.</li>
  <li>Access product, manuals, contracts, customer data etc.</li>
  <li>Post memos, circulars, newsletter etc.</li>
  <li>Revision, validation, approval of documents.</li>
  <li>Access central databases.</li>
  <li>Conducting employee development programs.</li>
  <li>Access schedules, plan, calendars, employee database etc.</li>
</ol>
<p nz-typography>
  Sales and marketing intranets, Research and Development
  intranets, customer service and technical support intranet,
  human resource intranet, accounting intranet etc., are the
  different specific purpose intranet applications.
</p>

<h3 nz-typography>Extranet</h3>
<p nz-typography>
  An extranet can be viewed as part of a company's intranet
  that is extended to users outside the company, usually
  the Internet. Intranet is private to the organization where as
  Extranet is an Intranet for outside authorized users. The
  outside users are trusted partners of the organization who
  have access to information of their interest and concern. For
  example, Dealers or distributors have access to product files
  such as catalogues, product specifications, images etc., to
  answer queries of the customers.
</p>

<p nz-typography>
  In short, an extranet is a private network that uses
  Internet protocols, network connectivity, and possibly the
  public telecommunication system to securely share part of
  an organization's information or operations with suppliers,
  vendors, partners, customers or other businesses.
</p>
<p nz-typography>
  An extranet can offer a range of benefits to business from
  lowering costs, to producing faster results and improving the
  quality of service to customers. The various advantages of
  extranet are as follows;
</p>
<ol style="list-style-type:lower-alpha">
  <li>It can be used to share product catalogs exclusively with trade partners. </li>
  <li>It supports collaboration with other companies on joint development efforts.</li>
  <li>It helps to jointly develop and use training programs with other companies.</li>
  <li>Extranet provides or access services provided by one
    company to a group of other companies, such as an
    online banking application managed by one company
    on behalf of affiliated banks.</li>
  <li> It can be used to share news of common interest
    exclusively.</li>
</ol>
