<h1 nz-typography>Links</h1>

<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/FG-oqNz8qF0?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>

<p nz-typography>
  Links are elements in a web page which can be selected by
  clicking on it. Links generally appear as underlined texts or
  icons. When we click on to this link we are transferred to
  another HTML page, sound, video files etc. The resource that
  we are intending to access may be located on our computer's
  hard disk or on the intranet site or anywhere on the World
  Wide Web.
</p>

<h2 nz-typography>Attaching a file on the computer </h2>

<p nz-typography>
  This exercise is about linking up two files in one of the files.
  This brings to discussion Anchors which are reference points
  that will be accessed by a link i.e.,<A></A> is call as the
  anchor tag. It brings in a connection to a specific location on
  a web page.
</p>
<p nz-typography>
  The href attribute specifies the link's destination. This implies
  that if you have two HTML files named 1.htm and 2.htm,
  if needed you can attach 2.htm in the body of the html file 1. htm
</p>
<p nz-typography>
  This is discussed as follows.
  Create two files are 1.htm and 2.htm before you proceed any further.
  <img src="assets/img/web/1.png" alt="Image" title="Image" class="img-block" />
  You should be directed to the new link once you have clicked
</p>


<h2 nz-typography> Linking on the internet</h2>

<p nz-typography>
  <img src="assets/img/web/2.png" alt="Image" title="Image" class="img-block" />
  Let's add a pair of anchor tags.
  <img src="assets/img/web/3.png" alt="Image" title="Image" class="img-block" />
  Add the URL. URL stands for Uniform Resource Locator. URL
  is just an address on the web. You specify it like so:
  And since Google's URL is http://www.google.com/, our tag
  should be complete like this.
  <img src="assets/img/web/4.png" alt="Image" title="Image" class="img-block" />
  <img src="assets/img/web/5.png" alt="Image" title="Image" class="img-block" />
  Make sure that when clicked the Google page opens up.
</p>

<h2 nz-typography>E-mail Links</h2>
<p nz-typography>
  HTML &#x3C;a&#x3E; tag provides you option to specify an email address
  to send an email While using &#x3C;a&#x3E; tag as an email tag, you
  will use mailto: email address along with href attribute,
  Following is the syntax of using mail to instead of using http.

</p>
<p nz-typography>
  &#x3C;a href = &#x22;mailto:abc@example.com&#x22;&#x3E;Click here to Send&#x3C;/a&#x3E;
</p>
<p nz-typography>
  <a href="mailto:abc@example.com">Click here to Send</a>
</p>

<p nz-typography>
  Now, if a user clicks this link, it launches one Email Client installed on your user's computer (like Outlook Express)
</p>

<h2 nz-typography>Lists</h2>
<p nz-typography>A list is a series of related or unrelated items. There are two types of lists in HTML viz. ordered and
  unordered. </p>

<table>
  <tbody>
    <tr>
      <td>This is an ordered list: </td>
      <td>This is an unordered list: </td>
    </tr>
    <tr>
      <td>
        <ol>
          <li>something big</li>
          <li>something small</li>
          <li>something short</li>
          <li>something tall</li>
        </ol>
      </td>
      <td>
        <ul>
          <li>something red</li>
          <li>something blue</li>
          <li>something old</li>
          <li>something new</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<h2 nz-typography>Unordered list</h2>

<p nz-typography>
  ul stands for unordered lists and ol for ordered list and li for list item.
  <img src="assets/img/web/6.png" alt="Image" title="Image" class="img-block" />
  <img src="assets/img/web/7.png" alt="Image" title="Image" class="img-block" />
</p>

<h2 nz-typography>Changing bullets into circles, squares etc.</h2>
<p nz-typography>
  The bullets in the page are default, if we desire to change
  these do the following.
</p>
<p nz-typography>
  Let's change this to circles and squares.
</p>
<img src="assets/img/web/8.png" alt="Image" title="Image" class="img-block" />
<img src="assets/img/web/9.png" alt="Image" title="Image" class="img-block" />
<h2 nz-typography>Ordered list</h2>
<p nz-typography>
  Ordered list can. be as 1,2,3 or 1,11,111 or i,ii,iii, or A,B,C or
  a,b,c etc.

<img src="assets/img/web/10.png" alt="Image" title="Image" class="img-block" />
<img src="assets/img/web/11.png" alt="Image" title="Image" class="img-block" />
</p>

<h2 nz-typography>Changing order number etc.</h2>
<p nz-typography>
  You can change the order number of your list at your
  convenience. You can start at any number or change into
  alphabets which start at any letter.
  <img src="assets/img/web/12.png" alt="Image" title="Image" class="img-block" />
  <img src="assets/img/web/13.png" alt="Image" title="Image" class="img-block" />
</p>

<h2 nz-typography>Definition lists </h2>
<p nz-typography>
  Definition lists are unique among lists owing to the reason
  that they offer two levels of list items within the listed
  structure-one for defined term and the other for definition.
  <b>dl</b> stands for definition list and <b>dt</b> stands for definition term
  and dd for definition itself.
  <img src="assets/img/web/14.png" alt="Image" title="Image" class="img-block" />
  <img src="assets/img/web/15.png" alt="Image" title="Image" class="img-block" />
</p>
