<h1 nz-typography>Disadvantages/ Drawbacks of the Internet</h1>
<p nz-typography>
  Internet is not free from drawbacks and disadvantages. Given below are some of the drawbacks of Internet.
</p>

<ol>
  <li>Identity theft, hacking, viruses, and cheating
    <p nz-typography>
      The Internet makes it easier for hackers to scan millions
      of computers and quickly identify which computers are
      vulnerable to attack. A series of cyber-crimes like
      unauthorized access & Hacking, Trojan Attack, Virus and
      Worm attack, Email Spoofing, Intellectual Property Right
      Violations, Banking/ Credit card Related crimes, Phishing,
      Cyber Terrorism etc. are the result of internet revolution.
      The Internet also makes it much easier for students to
      plagiarise On their academic work.
    </p>
  </li>
  <li>Spam and advertising
    <p nz-typography>
      Since internet is an easy way to reach a larger audience,
      it can be used for unsolicited advertisements and spams.
      Junk mail or e-mail spam, are unsolicited emails sent to
      a large number of persons.
    </p>
  </li>
  <li> Cyber bullying, trolls, stalkers, and crime
    <p nz-typography>
      Cyber bullying refers to the use of internet to bully a
      person by sending threatening messages. Troll refers to
      creating an online post which is deliberately offensive or
      provocative with the aim of eliciting an angry response or
      causing upset to another person. Stalking refers to
      following a person online.
    </p>
  </li>
  <li> Buying products not required
    <p nz-typography>
      As E- Commerce makes it easy to buy things,
      deals are very common. Each deal and offer will
      only for a short period. This tempt people into impulsive
      buying behaviour.
    </p>
  </li>
  <li>Never being able to disconnect
    <p nz-typography>
      With all the gadgets and devices that people possess it is
      difficult to disconnect form the Internet. People are always
      online from one device or the other.
    </p>
  </li>

  <li>Addiction, time waster, and causes distractions
    <p nz-typography>
      The Internet and online gaming can become very addictive
      often causing users to waste time without doing anything
      constructive. Internet offers lots of distractions that take
      away the productive time.
    </p>
  </li>
  <li>Depression, loneliness, and social isolation
    <p nz-typography>
      People who are active on Social networking start
      comparing their lives with others. They will be concerned
      about likes and shares instead of focusing on their own
      lives. This pushes people into social isolation and
      loneliness.
    </p>
  </li>
  <li> Exploitation and pornography and violent images
    <p nz-typography>
      Through the internet, it becomes easy to be exploited
      a known or unknown person. Fraudsters can create
      accounts and trap innocent gullible people. The Interne(
      is also full of adult materials that can be easily
      by people unintentionally.
    </p>
  </li>
  <li> Health issues and obesity
    <p nz-typography>
      Spending too much time on the computer or mobile phone
      can lead to an unhealthy life. Extensive use of computer
      or mobile has a lot of repetitive movements that can lead
      to carpal tunnel syndrome which is having numbness and
      weakness in your hands.
    </p>
  </li>
</ol>
