<h1 nz-typography>Types of measurement scales</h1>
<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/qLuneuutjKM?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>
<p nz-typography>
  Likert item, formulated by Rensis Likert in 1932, is one of the most commonly used method of attitude measurement.
</p>
<p nz-typography>
  An example is given below. <br />
</p>
<p nz-typography>
  Give your agreement to the following statement: <br />
  Students spend more time on social media than with text book : <br />
  Strongly Agree / Agree /Neutral /Disagree/Strongly Disagree. <br />
  This gives the respondents enough options to choose from. Likert items are considered as Ordinal.
</p>
<p nz-typography>
  Likert scale is a combination of multiple Likert Items. E.g. Satisfaction derived from a product measured using 3
  Likert items based on Quality, Price, and after sales service.
  <img src="assets/img/spss/14.jpg" alt="Image" title="Image" class="img-block" />
</p>
<p nz-typography>
  A Likert scale, satisfaction based on the 3 Likert Items, e.g., an average of the values (3 Likert items) is generally
  be considered as Interval scale.
</p>

<h3 nz-typography>Illustration 1</h3>
<p nz-typography>
  Identify the scales for the following variables:
  <img src="assets/img/spss/15.jpg" alt="Image" title="Image" class="img-block" />
</p>
