<h1 nz-typography>Communication media</h1>

<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/Wo0zkCpiZOw?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>

<p nz-typography>
  Communication media is the storage and transmission channel or tool used to store and deliver information or data. It
  carries signals over communication path between two or more communication devices. basically there are two types of
  communication media
</p>
<ol>
  <li><b>Wired</b> (usually telephone wire ora optical fibre cable)</li>
  <li><b>Wireless</b> (short wave radio, Wi-Fi.wi-max etc)</li>
</ol>

<h4 nz-typography>Wired communication media</h4>

<p nz-typography>
  Wired communication media refers to the physical cabling in a network. It is the transmission of data using wires or
  cables. Common wired media are Twisted-pair cable, Coaxial cable and Fibre-optic cable.
</p>
<div class="box">
  <img src="assets/img/wired-communication-media.jpg" alt="wired-communication-media.jpg">
</div>

<ol type="a">
  <li>
    <b>Twisted-pair cable</b>
    <p nz-typography>
      Twisted pair cable consists of a pair of insulated wires twisted together. It is a cable type used in
      telecommunication for very long time. Now a days they are rarely used.

      Telephone line is an example of twisted-pair cable. The twisted-pair configuration reduces interference from
      electrical fields. This type of wired media is relatively slow, carrying data at the rate of 1-128 Mbps (megabits
      per second).
    </p>
    <div class="box">
      <img src="assets/img/twisted-pair-cable.jpg" alt="twisted-pair-cable.jpg">
    </div>
  </li>
  <li>
    <b>Coaxial Cable</b>
    <p nz-typography>
      A coaxial cable is a type of insulated copper cable that is used in computer networks and to
      deliver cable TV services. It consists of four primary components; a core copper wire, which serves as the primary
      channel, a dielectric plastic insulator, which surrounds the copper, a braided copper/aluminium covering beneath
      the insulator, the last layer, which is made of teflon or plastic coating, is used to protect the inner layers
      from physical damage, such as fire and water.

      Coaxial cables tend to carry signals at a greater distance and are a good choice for weak signals, due to their
      layered protection. It is much better than twisted pair cables in resisting interferences and speed (up to 200
      Mbps).
    </p>
    <div class="box">
      <img src="assets/img/coaxial-cable-construction.jpg" alt="coaxial-cable-construction.jpg">
    </div>
  </li>
  <li>
    <b>Fibre-optic cable</b>
    <p nz-typography>
      Optical fibre or Fibre-optic permits transmission over longer distances and at higher bandwidths (data rates) than
      other forms of communications. Fibers are used instead of metal wires because signals travel along them with less
      loss.

      An optical fiber is made up of the core (carries the light pulses), the cladding (reflects the light pulses back
      into the core) and the buffer coating (protects the core and cladding from moisture, damage, etc.). It consists of
      dozens or hundreds of thin strands of glass or plastic that transmit pulsating beam of light rather than
      electricity. These can transmit up to about 2 billion pulses per second (2 gigabits).
    </p>
    <div class="box">
      <img src="assets/img/cable-de-fibra-optica.jpg" alt="cable-de-fibra-optica.jpg">
    </div>
  </li>
</ol>

<nz-card nzHoverable class="you-card" [nzCover]="coverTemplateWireless"></nz-card>
<ng-template #coverTemplateWireless>
  <iframe src="https://www.youtube-nocookie.com/embed/4LiSOMZ-jjw?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>

<h4 nz-typography>Wireless Communications Media </h4>
<p nz-typography>
  Infrared wireless transmission sends data signals using infrared light waves at a very low frequency employed in
  short-range communication '(not more than 5 Meters). It is a common media of wireless communication between laptops,
  mobile phones, remote controls etc.
</p>

<ol>
  <li><b>Infrared Transmission</b>
    <p nz-typography>
      Wireless communication is the transfer of information over a distance without the use of wires. The distances
      involved
      may be short (a few meters as in television remote control) or long (thousands or millions of kilometres for radio
      communications).

      The different types of wireless media are explained below:
    </p>
  </li>
  <li>
    <b>Radio Frequency Transmission</b>
    <p nz-typography>
      It is a wireless transmission medium that sends data over long distance using radio waves with high frequency and
      covers high range of distance. A 'transmitter' is required
      to send messages and a 'receiver' is required to receive them.

      Different organisations use different radio frequencies and networks to support wireless communication. It is used
      in broadcast radio, broadcast television, ham radio, cell phones and private radio band services.
    </p>
  </li>
  <li>
    <b>Microwave Transmission</b>
    <p nz-typography>
      Microwave transmission refers to the technology of transmitting information by the use of the radio waves with
      high frequency and small wavelengths and is capable of covering long distances. Super high-frequency radio waves
      are called microwaves. Microwaves transmit voice and data at 45 Mbps through the atmosphere and communicates
      between ground based stations and satellite communications systems. It is the backbone carrier in cellular
      networks.
    </p>
  </li>
  <li>
    <b>Communications Satellites</b>
    <p nz-typography>
      A communications satellite (COMSAT) is an artificial satellite stationed in space for the purpose of
      telecommunications. They are used for mobile applications such as communications to ships, vehicles, planes and
      hand-held terminals (Navigation - GPS), and for mobile signals, weather tracking and TV and radio broadcasting.
    </p>
  </li>
  <li>
    <b>Bluetooth</b>
    <p nz-typography>
      Bluetooth is a short range wireless digital standard aimed at connecting cellphones, PDAs, computers and
      peripherals up to a distance of 10 meters. Bluetooth is designed to replace cables connecting PCs to printers and
      PDAs or wireless phones. It allows you to share data, voice, photos, videos and other information wirelessly
      between paired devices.
    </p>
  </li>
  <li>
    <b>WiFi</b>
    <p nz-typography>
      Wi-Fi stands for -wireless fidelity", is a short range wireless digital standard aimed at helping portable
      computers and handheld wireless devices to communicate at high speeds and share internet connections. Areas which
      are enabled with Wi-Fi are called (hotspots\

      A Wi-Fi enabled device such as a personal computer, video game console, mobile phone can connect to the
      Internet when within range of a wireless network connected to the Internet.
    </p>
  </li>
  <li>
    <b>WiMAX</b>
    <p nz-typography>
      WiMAX (Worldwide Interoperability for Microwave Access) is a telecommunications protocol that provides fixed and
      full mobile internet access across a range of 50 km. The bandwidth and range of WiMAX make it suitable for
      providing portable mobile broadband connectivity across cities and countries
    </p>
  </li>
</ol>
