<h1 nz-typography>Data processing softwares</h1>
<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/iZ7j7oyMWKA?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>

<p nz-typography>
 <mark> The data that is captured for analysis will be raw and unstructured. The data might be untidy and unclean. This type
  of raw, unclean and unstructured data cannot be used for data analysis. Such data needs to be put through a
  pre-processing operation, whereby the data becomes more structured and cleaned so that data analysis software will be
  able to extract meaning information and the business can make appropriate decisions. </mark>Data processing software is used
  to achieve this.
</p>

<h1 nz-typography>Benefits of using Data processing software</h1>
<ol type="i">
  <li>
    <p>Speed, Accurate and more reliable information</p>
  </li>
  <li>
    <p>Cost is reduced</p>
  </li>
  <li>
    <p> Yields better results & increases productivity</p>
  </li>
  <li>
    <p> Report Making is simplified</p>
  </li>
  <li>
    <p>Storage and distribution is easy when data is processed</p>
  </li>
  <li>
    <p>Safe and secure</p>
  </li>
</ol>
<p nz-typography>
  Some of the most popular softwares are
</p>

<ol type="i">
  <li>
    <h3>Hadoop :</h3>
    <p> Apache Hadoop tool is a big data framework which allows distribution of large data processing across various
      connected computers. It can scale up from a single machine to thousands of different machines. </p>
  </li>
  <li>
    <h3>Cloudera :</h3>
    <p>Cloudera is one of the fastest, easiest and highly secure data analysis platform. It allows a user to transfer
      data across any platform, no matter what the environment is. Moreover, it offers high-performance analytics, and
      provision for multi-cloud systems is available</p>
  </li>
  <li>
    <h3>Qubole :</h3>
    <p>Qubole is an autonomous big data management platform. It is self-optimized, self-managed data processing tool
      which allows the analytical team to focus more on business outcomes. The best feature about Qubole is to avoid
      repetitive manual actions. This not only saves time but resources as well.</p>
  </li>
</ol>