<h1 nz-typography>Network Security </h1>

<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/ft60YN3AzBo?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>

<p nz-typography>
  Network security refers to the steps and policies adopter by the network administrator to protect the network and the
  network-accessible resources from unauthorised access. Only legal and authorised users are given access to the
  network. Network security starts from authenticating the user. commonly with a username and a password. Once
  authenticated, a firewall enforces access policies which determine the access rights of network users.
</p>

<article nz-typography>
  <ul>
    <li>'Authorising' the users to gain access to network resources.</li>
    <li>'Authenticating' authorised users to use approved devices. Authentication is the process of verifying that
      information is coming from a trusted source.</li>
    <li>Implement a proper 'Security Policy' in the network. </li>
    <li> Establish 'digital signature' which is a way to ensure that electronic document (email, text file or
      spreadsheet etc.) is authentic. </li>
    <li>'Install antivirus software' in all servers and workstation</li>
    <li>Install a strong Firewall?, which is software or hardware or both, protecting against unauthorised access.
    </li>
    <li>Set strong account lookout policy. </li>
    <li>All the data that goes into the server should be backed up and restored.</li>
    <li>Perform network security audit for fixing security issues. </li>
    <li>'Monitor the users' activities on the internet and block all the unwanted websites and web applications which
      have security risks. </li>
  </ul>
</article>

<h4 nz-typography>Firewalls</h4>
<p nz-typography>
  A firewall can be defined as a hardware and/ or software placed between an organisations internal network and external
  network. Firewall determines which inside services may be accessed from outside, and which may be accessed from
  inside. Firewall is normally placed between the network gateway and the server. There are two types of firewalls
  namely:
</p>

<article nz-typography>
  <ul>
    <li>
      <b>Inside Firewall:</b> Internal firewall protects the network and machines of the intranet of the company.
    </li>
    <li>
      <b>Outside Firewall:</b> protects the access between the company's networks with that of all the other networks
      (extranets). All traffic from the outside must pass through it.
      <div class="box">
        <img src="assets/img/firewall.png" alt="firewall.png">
      </div>
    </li>
  </ul>
</article>

<h4 nz-typography>Firewalls</h4>
<p nz-typography>
  Without a firewall a company's system are exposed to insecure services and to probes and attacks from hosts elsewhere
  on the network. The major benefits are enumerated below
</p>

<ol type="a">
  <li>
    Deny unauthorised sources from connecting into the network
  </li>
  <li>
    Deny connections from inside the network to unauthorised sources or services outside.
  </li>
  <li>
    Maintain a log of usage statistics.
  </li>
  <li>
    Hide internal private network in case of emergency.
  </li>
</ol>
