<h1 nz-typography>Working of Internet</h1>
<p nz-typography>
  Internet is a global network of computers. Its working requires
  identification of the connected computers, a connecting
  agency, the structure and the basic rules for its efficient
  functioning.
</p>

<p nz-typography>
  In the Internet, computers are assigned a unique 12-digit
  number called IP (Internet Protocol) address which allows
  computers to have Internet access. In each computer, a
  particular Internet source is called a URL (Uniform Resource
  Locator).
</p>
<p nz-typography>
  In Internet, the connecting agency is called the Internet Service
  Provider (ISP). The ISP is connected to the Internet backbone,
  which is the permanent cabling of the Internet. The cabling
  may consists of copper wire, optical fiber cable, microwave,
  or satellite connections between any two points.
  In Internet, the data transfer is done through the telephone
  network. At present telephone lines cannot carry digital
  signals. So device called modern is used to translate data from
  binary code to analog data while sending data and reconvert
  analog data into digital data while receiving. Modem is the
  acronym for modulator-demodulator. Modulation is the process
  of converting digital data into analog data and demodulation is the process of converting analog data into digital
  data, The
  speed with which the modem transfers data is measured in
  bits per second (bps). The modem may be an external modem
  or an internal modem.
</p>
<p nz-typography>
  For the safe movement of data, there exists a set of rules
  which governs the sending and receiving of data. These rules
  are implemented in two parts in the network software and
  are called Transmission Control Protocol (TCP) and Internet
  Protocol (II)). These two are collectively called TCP/IP, For
  sending large block of text/ data from one machine to another,
  TCP divides the data into little data packets. It also adds
  special information like the packet position; error correction
  code etc., to make sure those packets at the destination can
  be reassembled correctly and without any damage to data.
</p>

<h3 nz-typography>Internet Protocols</h3>
<p nz-typography>
  In information techn010U, protocol means a set of rules,
  a communication language or set of standards between two
  or more computing devices. On the internet, there is a suite
  of the protocols known as TCP/IP protocols that are consisting
  of Transmission Control Protocol, Internet Protocol, Hypertext
  Transfer Protocol, File Transfer Protocol and a number of other
  protocols.
</p>

<ol>
  <li>TCP/IP
    <p nz-typography>
      Transmission Control Protocol/ Internet Protocol
      is a collection of various communication protocols. TCP is
      used for transmission of data from one network to another.
      It is responsible for breaking data into packets before they
      are sent and for assembling the packets when they arrive
      at the destination. IP is responsible for sending and
      receiving data packets Over the internet.
    </p>
  </li>
  <li>IP (Internet Protocol)
    <p nz-typography>
      An Internet protocol (IP) is a unique
      address or identifier of each computer or communication
      device on the network and internet. Any participating
      computer or networking device such as routers, printers,
      internet fax machines and switches may have their own
      unique IP address. Every domain on the internet must
      have a unique or shared IP address.
    </p>
  </li>
  <li>FTP (File Transfer Protocol)
    <p nz-typography>
      FTP or File Transfer Protocol
      is used to transfer (upload/ download) data from one
      computer to another over the internet or through a
      computer network. FTP is a most commonly used
      communication protocol for transferring the files over
      internet.
    </p>
  </li>
  <li>HTTP (Hyper Text Transfer Protocol):
    <p nz-typography>
      Hypertext transfer
      protocol is a set of standards for transmitting information
      on the web. HTTP provides a platform for web browsers
      and servers to communicate and helps in publishing and
      retrievirvthe HTTP pages (web pages) on the World Wide
      Web. Modern browsers do not require HTTP in front of
      website address since it is the default method of
      communication.
    </p>
  </li>
</ol>


<h1 nz-typography>Internet: Important Concepts</h1>
<h3 nz-typography> IP Address</h3>
<p nz-typography>
  Each computer on the internet has a unique number called
  the IP Address. The IP Address is a 12-digit number in the
  format of xxx.xxx.xxx.xxx where each 'xxx' is a number fronj
  0 to 255.The IP address identifies the host computer so that
  packet of information reaches the correct computer.
</p>

<h3 nz-typography>ISP (Internet service provider)</h3>
<p nz-typography>
  The Internet connection is provided by the ISP, The ISP is a
  company, which permits the user to access internet
  a nominal fee. The popular ISPs in India are BSNL, Asianet,
  Reliance Jio etc.
</p>

<h3 nz-typography> Host Computer</h3>
<p nz-typography>
  Host Computers are servers. They are connected by cables,
  phone lines or satellite communications. They store the data
  or information. They include large mainframe computers,
  smaller mini computers, and personal computers.
</p>

<h3 nz-typography>Domain Name System (DNS)</h3>
<p nz-typography>
  Each host computer has a name. The name of each host
  computer consists of a series of words separated by dots.
  The first part shows the nature of the server. If it is a web
  server the first part will be www. The second part
  of the name is chosen by the organization that owns the web
  page and is usually some variant of the organization's name,
  The third part of the name is assigned depending On the
  nature of the organization. It is also called the Top Level
  Domain or TLD. The last two parts of the name constitutes
  the domain name.
</p>
<p nz-typography>
  In www.sebi.gov, 'www' shows that it is a web server. 'sebi' is
  the second level domain, '.gov' is the TLD and sebi.gov is the
  domain name.
</p>

<h3 nz-typography>Uniform Resource Locator</h3>
<p nz-typography>
  The Uniform Resource Locator (URL) defines the location of the file on the Internet. URL is an addressing system that
  is used by the World Wide Web as a standard system for
  specifying a particular site or file on the web.
</p>
