<h1 nz-typography>Introduction</h1>

<p nz-typography>
  The Internet is a worldwide collection of computer networks.
  It provides access to communication services and information
  resources to rnillions of users around the globe. The Internet
  has revolutionized our lives in many ways. Search engines
  provide us way to search any information worldwide and helps
  us in getting up to date. We can watch live channels and play
  online games with others. Internet provides us ways of
  shopping online. We can perform banking transactions at any
  time. It has transformed the way of distant education through
  online educational portals.
  Instant messaging technologies like text messages, mobile
  applications like WhatsApp and online chåt facilities have
  transformed casual conversation.
  The Internet covers the globe and includes large,
  international networks as well as smaller, local area networks.
  Any individual, company or country does not own it.
</p>

<h3 nz-typography>History of Internet</h3>
<p nz-typography>
  In 1957, the Soviet Union launched the first satellite,
  Sputnik I, triggering 'US Government to create the ARPA
  (Advanced Research Projects Agency) to regain the
  technological lead in the arms race and help protect the US
  against a space-based nuclear attack. This resulted
  countrywide communications network, ARPANET,
  scientists at ARPANET realized the potential benefits Of
  network and the internet was born. In 1990, the ARPANET
  was retired and transferred to the National Science
  Foundation Network (NSFNET). The NSFNET was soon
  connected to the Computer Science Network (CSNET), which
  linked Universities around North America, and then to the
  European Network (EUnet) which connected research facilities
  in Europe. The online world changed into its current
  recognizable form in 1990, when computer scientist Tim
  Berners-Lee invented the World Wide Web (WWW). The use
  of the Internet increased exponentially after 1990 causing
  the US Government to transfer management to independent
  organizations starting in 1995 and thereafter the internet grew
  in proportions to the present state.
</p>

<h3 nz-typography>Benefits of the Internet </h3>
<p nz-typography>
  The Internet is one of the greatest achievements of
  humankind. It has transformed the way we live. Some of the
  most significant benefits are given below
</p>

<ol style="list-style-type:lower-alpha">
  <li>Information, knowledge, and learning
    <p nz-typography>
      Internet contains the source of endless supply of
      knowledge and information that allows a person to learn about
      anything. It can give answers to any question a person can
      have. There are also millions of videos on sites like
      YouTube that help explain various topics and Massive
      Online Course (MOOC) which has courses on a variety oc
      subjects, which are offered by the top universities of
      E.g.
      <a href="https://www.edx.org/">edx.org</a>,
      <a href="https://coursera.org/">coursera.org</a>,
      <a href="https://udemy.com/">udemy.com</a>
    </p>
  </li>
  <li> Communication, Connectivity and Sharing
    <p nz-typography>
      It is possible to e-mail or chat with anyone from any part
      of the world real time. There are thousands of online forums
      for people of common interests where each one can chat with
      people who they have not seen in person, to share their
      knowledge, experiences and ideas.
    </p>
  </li>
  <li>Internet of Things
    <p nz-typography>
      Internet of Things (IoT) is the concept of connecting any
      device to the Internet and to other connected devices which
      collect and share data about the way they are used and about
      the environment around them. It includes a wide variety of
      smart devices, from industrial machines that transmit data
      about the production process to sensors that track information
      about the human body. The devices become smarter and more
      efficient and help save money, and time.
    </p>
  </li>
  <li>    Cloud computing and cloud storage
    <p nz-typography>
      Cloud computing and cloud storage is the practice of using
      a network of remote servers which are hosted on the Internet
      to store, manage, and process data, instead of a local server
      or a personal computer. With cloud computing, a device will
      have access to more powerful computers and even super
      computers to perform complex tasks and Cloud storage allows
      you to have access to an endless supply of storage and also
      makes backing up data easier and safer.
    </p>
  </li>
  <li>    Address, mapping, and contact information
    <p nz-typography>
      The Internet can find directions to almost every place in
      the world. Transportation network companies like Uber rely
      on the internet to successfully complete passenger rides. It is very easy to find out the address of
      establishments
      institution anywhere in the world. Nowadays Google will
      detect your location and customize your results based 00
      your location. E.g. A search for restaurants nearby, given
      results based on the location.
    </p>
  </li>
  <li>    Banking and shopping
    <p nz-typography>
      The E-Banking gives you access to your bank account to
      view, make transactions via Internet and Mobile Banking,
      Online shopping offers the advantage and convenience to find
      and purchase products without visiting a store. The Internet
      gives access to compare prices and refer online reviews to
      make better purchasing decisions.
    </p>
  </li>
  <li>    Selling and making money
    <p nz-typography>
      Internet is the easiest and the perfect place to sell most
      goods. It is easy for the customer to find the website and
      place orders. The website will be available 24x7 and with the
      development in E-Commerce, doing business online opens a
      world of opportunities.
    </p>
  </li>
  <li>    Entertainment
    <p nz-typography>
      The Internet paves the way for unending supply of
      entertainment, music, videos games etc. People who are
      talented can record and upload their video. Depending on
      the number of views and the number of advertisements viewed
      in between, it can become a source of income.
    </p>
  </li>
  <li>    Donations and crowd funding
    <p nz-typography>
      Crowd funding is the method of funding a project or
      venture by requesting via the Internet to large OC
      people to contribute small amounts of money, With advent of Internet it is easy to make contributions and monitor
      the
      progress of projects and ventures. It is convenient for the
      people who need funding and for the people who are interested
      in contributing to such funds.

    </p>
  </li>
</ol>
