<h1 nz-typography> Hardware (devices) and Software needed for Internet Connection</h1>
<ol>
  <li>Computer
    <p nz-typography>
      A personal computer is needed to connect to the internet.
    </p>
  </li>
  <li>Modem
    <p nz-typography>
      Telephone lines cannot carry digital data. A modem
      (Modulator — Demodulator) translates data from binary
      code to analog code that can be transmitted over the
      telephone network, on receiving data, the modem
      reconverts the analog data into digital (binary data).
      The modem may be internal or external. The capacity
      of the modem is expressed in bps (byte per seconds).
      The communication software in the modem directs one
      computer and modem to talk with (communicate with)
      another computer and modem, and controls the flow
      of data along the telephone line.
    </p>
  </li>
  <li>Internet Service Provider
    <p nz-typography>
      ISP is the internet Service Provider like BSNL, Asianet
      etc. Generally ISPs charge a cost for providing internet
      service. They offer internet connection via telephone
      line, cables and wireless alternatives.
    </p>
  </li>
  <li>Web browser
    <p nz-typography>
      Web browser is a software used to navigate through the internet.
    </p>
  </li>
</ol>

<h3 nz-typography>Internet Access Methods</h3>
<p nz-typography>
  The Internet can be accessed in two ways, namely,
  into an Internet Service Provider's computer, or with
  connection to an ISP.
</p>
<ol style="list-style-type: upper-roman;">
  <li>Dial Up Connection
    <p nz-typography>
      Under this method the access to the Internet is made
      using modem and telephone line. The connection is
      established by dialing an ISP number.
    </p>
  </li>
  <li>Direct Connection
    <p nz-typography>
      Under this method access to the Internet is made through
      a fixed cable or dedicated telephone line. Often the dedicated
      telephone line is an ISDN (Integrated Service Digital Network)
      line which is a higher speed version of the standard telephone
      line. There are different methods of direct connection namely,
      ISDN, ADSL, Cable Modem, Wireless Alternatives.
    </p>
    <ol style="list-style-type: lower-alpha;">
      <li>ISDN (Integrated Service Digital Network):
        <p nz-typography>
          It is an upgraded telephone line that can be used for faster Internet access and for regular voice calls. ISDN
          is all digital.
        </p>
      </li>
      <li> ADSL (Asymmetric Digital Subscriber Line):
        <p nz-typography>
          Like ISDN, it uses an upgraded telephone line. It is also all-digital and supports simultaneous internet
          browsing and telephone use. It is suitable for move downloads rather than for uploads.
        </p>
      </li>
      <li>SDSL (Symmetric Digital Subscriber Line):
        <p nz-typography>
          It is an meant for faster access to both downloading uploading and is suitable to corporate where more up
          streaming speed is needed.
        </p>
      </li>
      <li>Cable Modem:
        <p nz-typography>
          Under this method the internet access is provided through the cables like TV Channels. As these networks are
          designed to move information from
          the broadcaster to the customer (one direction), the downstream speeds are high whereas, the upstream speeds
          are rather low.
        </p>
      </li>
      <li>Wireless Alternatives:
        <p nz-typography>
          Wireless does not use cables or telephone lines to connect to the internet. Instead, it uses radio frequency,
          Wireless is also an always on
          connection and it can be accessed from anywhere. Wi-Fi is the most common application of a wireless.
        </p>
      </li>
      <li>Satellite Connections:
        <p nz-typography>
          Satellite connections access the internet via a satellite in Earth's orbit. This connection is slightly slower
          as the data has to travel
          back and forth the large distance from the surface of the earth to the satellite
        </p>
      </li>
      <li>Cellular Connections:
        <p nz-typography>
          Cellular technology provides wireless Internet access through cell phones. The speeds vary depending on the
          provider, but the most
          common are 3G (speeds upto 2.0 Mbps) and 4G speeds (upto 30 Mbps).
        </p>
      </li>
    </ol>
  </li>
</ol>

<h3 nz-typography>Web browsers</h3>
<p nz-typography>
  A web browser is a software application for retrieving,
  presenting, and traversing information resources on the
  World Wide Web. It acts as an interface between the user
  and the workings of the Internet. It has the ability to
  interpret or display so many types of files and it may be
  used even the computer is not connected to the internet
  for offline working.
</p>
<p nz-typography>
  The two major functions of the browsers
</p>
<ol style="list-style-type: upper-roman;">
  <li>Browsers contact the web server and sends requests or files and</li>
  <li> Browsers receive the information display it on the user's computer. </li>
</ol>
<p nz-typography>
  Google Chrome, Safari, UC, Firefox, Opera, Explorer(Edge) are the most commonly used web browsers. </p>
