<h1 nz-typography>Information</h1>
<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/_k8ta81EhgE?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>


<p nz-typography>
  Data is the raw material for producing meaningful information. The relation of data to information is that of raw
  materials to finished product.<mark> Information is the data that have been processed and used for decision making. The
  purpose of information is to reduce
  uncertainty about decision situations and consequences. Information increases knowledge, reduces uncertainty, adds
  value when used.</mark>
</p>

<h1 nz-typography>Value of information in decision making</h1>
<p nz-typography>
  Value of information (VoI) in decision making is a measure of how much the outcome of management would improve if
  uncertainty about the situation could be fully resolved.<mark> It is also defined as the value, that a decision maker would
  be willing to pay, for information that will help him to make better decision making.</mark> This is a way by which the
  actual uncertainty of a decision is measured and value is assigned to it.
</p>
<p nz-typography>
  The expected value of a decision is the
  expected reduction in the probability of making the wrong decision, multiplied by loss incurred due to the wrong
  decision. This is compared with the expected cost of the project or decision. If the expected value exceeds the
  (expected) cost then the decision should be approved. If not, then the decision should not be implemented.

</p>
<p nz-typography>
 <mark>  Value of information is divided into Value of Perfect Information and Value of Imperfect Information. Perfect Information
  implies information that will help in completely resolving the uncertainty such that the right decision can be made.
  Imperfect information implies that information will not able completely resolve uncertainty. This means that there is
  a chance to still make a wrong decision.</mark>
</p>
<h1 nz-typography>Information & Analysis of business research</h1>
<p nz-typography>
 <mark> Business research is the first
  step that any business owner needs to set up his business, to survive or to excel in the market_</mark> The main reason why
  such a research is of utmost importance is because- it helps businesses to grow in terms of revenue, market share.
  <mark>Information and Analysis of Business Research determines how effectively the business enterprise could use the
  information to take informed decisions.</mark> It is significant for the following reasons.
</p>

<ol type="1">
  <li>
    <p>Business Research will help business to identify opportunities and threats.</p>
  </li>
  <li>
    <p>Risks and uncertainties can be minimized by conducting business research in advance.</p>
  </li>
  <li>
    <p> Such a research can help track competition in the business sector. </p>
  </li>
  <li>
    <p>Business research can enable a company to make wise decisions as to where to spend and how much.</p>
  </li>
  <li>
    <p> It helps to understand customers better and hence can be useful to communicate better with the customers or
      stakeholders.</p>
  </li>
  <li>
    <p> Financial outcomes and investments that will be needed can be planned effectively using business research.</p>
  </li>
  <li>
    <p>Business research can enable a company to stay up-to date with the market and its trends and appropriate
      innovations can be made to stay ahead in the game. </p>
  </li>
</ol>