<h1 nz-typography>Website management</h1>

<nz-card nzHoverable class="you-card" [nzCover]="coverTemplate"></nz-card>
<ng-template #coverTemplate>
  <iframe src="https://www.youtube-nocookie.com/embed/HHF8LX3raZg?rel=0" frameborder="0" class="video"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>

<p nz-typography>
  Website management refers to the administration and control
  of the hardware and software used in a Web site. There are a
  variety of monitoring and analysis tools that report on usage,
  missing links and files as well as performance, all of which
  keeps a site intact and running smoothly.
</p>
<p nz-typography>
  The following steps form the crux of website
</p>
<ol>
  <li>Choosing a Web Hosting Service
    <p nz-typography>
      There are many Web hosting companies on the internet,
      Depending on their requirements the users are able to select
      the most appropriate one. It depends on;
    </p>
    <ol type="I">
      <li>Type of web space that the user requires. E.g., free
        web space, shared hosting, dedicated server etc.
      </li>
      <li>If it is an e-commerce site, the user will need more
        security.
      </li>
      <li>Disk space, email service are additional features. </li>
    </ol>
  </li>
  <li>Launching your website
    <p nz-typography>
      Usually, when you join a shared Web hosting plan, the
      hosting company gives you a number of facilities, such as a
      Web-based control panel for managing your site, some usage
      statistics, and email accounts. Nearly all Web hosting plans
      include at least the following:
    </p>
    <ol type="I">
      <li>Web space: This is an area of the Web server's hard
        drive that stores your websife's files, such as Web pages
        and images.
      </li>
      <li>
        FTP access: This allows you to use a File Transfer
        Protocol program to upload your website's files to the
        Web space.
      </li>
    </ol>
  </li>
  <li> Setting up a domain name
    <p nz-typography>
      A domain name is a unique name that identifies a website
      or computer on the Internet. Find a domain name that best
      suites you and get it registered with the registrar of domain
      names.
    </p>
  </li>
  <li>
    Uploading your website
    <ol type="I">
      <li>Find index.html borne page file on your hard disk.</li>
      <li>Open the FTP program and use it to connect to the site</li>
      <li>Upload your home page.</li>
      <li>Test the page. Open up your Web browser and go to
        the URL of your website.
      </li>
    </ol>
  </li>
  <li>
    Maintenance
    <p nz-typography>
    Once your website is functional you may have to focus on the following;
    </p>
    <ol type="I">
      <li>Moving a website to a new server</li>
      <li>Choosing an email news letter system </li>
      <li>Transfer domain names between registrars</li>
    </ol>
  </li>
</ol>
